APP_NAME=nome da sua aplicação
APP_ENV=onde você está rodando a aplicação (local, production, etc)
APP_DEBUG=sua configuração de debug (true ou false)
APP_URL=sua url

DB_HOST=sua host
DB_PORT=sua porta
DB_NAME=nome da db
DB_USER=nome da db user
DB_PASS=

SESSION_NAME=nome da sessão

CSRF_KEY=sua key